*, ::before, ::after {
    cursor: default;
    padding: 0;
    margin: 0;
    line-height: 1.2rem;
    font-family: monospace;
    line-height: 1.4;
}

a, svg {
    cursor: pointer;
}

p, ul, strong {
    font-size: 14px;
    color: var(--bg-800);
}

h1, h2 {
    color: var(--bg-200);
}

:root {
    --bg-200: #fff5ff;
    --bg-400: #fae1fa;
    --bg-600: #3c6f66;
    --bg-800: #6a5661;
    --box-shadow: #b1819e;
}

body {
    max-width: 100vw;
    background: var(--box-shadow);
}

#page {
    min-width: 800px;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: -2px 0px 20px var(--bg-800), 2px 0px 20px var(--bg-800);
    background: var(--bg-200);
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-600);
}

header > a, svg {
    height: 50px;
    fill: var(--bg-200);
}

main {
    padding: 1rem .5rem;
    display: flex;
    flex-direction: row;
}

.section-column {
    /* border: 1px solid red; */

    width: 50%;
    display: flex;
    flex-direction: column;
}

section {
    /* border: 1px solid blue; */

    margin: .5rem;
    padding: 3.5rem .5rem .5rem .5rem;
    position: relative;
    box-shadow: 4px 4px 0px var(--box-shadow);

    background: var(--bg-400);
}

section > h2 {
    padding: .5rem .25rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: var(--bg-600);
    color: var(--bg-200);
}

section > ul {
    padding-left: 1.5rem;
}
/* contact */
#contact > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#contact > div > svg {
    height: 20px;
    fill: var(--bg-800);
}

@media screen and (max-width: 500px) {
    #page {
        min-width: 100%;
    }
    main {
        flex-direction: column;
    }

    .section-column {
        width: 100%;
    }
}
